# --
# Copyright (C) 2011 - 2022 Perl-Services.de, https://perl-services.de/
# --
# This software comes with ABSOLUTELY NO WARRANTY. For details, see
# the enclosed file COPYING for license information (AGPL). If you
# did not receive this file, see http://www.gnu.org/licenses/agpl.txt.
# --

<div class="MainBox ARIARoleMain">
    <div class="ClearLeft"></div>
    <div class="Headline">
        <h1 title="[% Data.Headline | html %]">[% Data.Headline | html %]</h1>
        <div class="AdditionalInformation">
            [% Data.CreateTime | html %] - [% Data.Author | html %]
        </div>
    </div>

    <div class="ContentColumn">
        <div class="ActionRow">
            <h3>[% Data.Teaser | html %]</h3>
        </div>

        <p>
            [% Data.Body %]
        </p>
[% RenderBlockStart("OpenNews") %]
        <br /><br /><br />
        <button class="Primary CallForAction" onclick="Core.UI.Dialog.NewsAutoOpenRead([% Data.NewsID %]); Core.UI.Dialog.CloseDialog($(this));" value="[% Translate("Mark as read") | html %]"><span>[% Translate("Mark as read") | html %]</span></button>
[% RenderBlockEnd("OpenNews") %]

    </div>
    <div class="Clear"></div>
</div>
